{% extends 'blog/base.html' %}
{% block content %}

<div class="container mt-4">
    <h2 class="mt-4 mb-4 text-center">Оплата прошла успешно!</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <p class="active">
                        <strong>Мы ценим ваш бизнес! Если у Вас возникли вопросы, пожалуйста, пишите на электронную почту</strong>
                    </p>

                    <div class="row justify-content-center">
                        <a class="btn btn-outline-link" href="mailto:garik.konoff@yandex.ru">garik.konoff@yandex.ru</a>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-dark" href="{% url 'blog:home' %}">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 2px 4px rgba(0, 0, 0, 0.3);
        width: 100%;

    }

    .btn {
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
</style>

{% endblock %}